@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.h1,h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

.grid-curriculum{
display: grid;
width: 100%;
grid-template-areas: 'a a a'
                     'b c c'
                     'b c c';
}
.foto-curriculum{
    border-radius: 50%;
    border: solid 1px black;
    width: 200px;    
    height: 200px;
}
.c1{
    grid-area: b;
    text-align: center;
}
.imagen-c1{
    background-image: url(/imagenes/fondo-c1.webp);
}
.c2{
    grid-area: a;
    background-image: url(/imagenes/fondo-2.jpg);
    color: white;
    text-align: center;
    align-items: center;
    height: 150px;
    padding: 2rem;

}
.c3{
    grid-area: c;
    background-color:white;
    justify-content: center;
    margin-left: 1px;
}
.estilos-h2{
    background-color: rgb(137, 210, 237);
    color: black;
}
.imagen-lenguaje{
    width: 50px;
    height: 50px;
}