@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
#inicio{
    background-image: url(/imagenes/inicioCover.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.h1-inicio{
    margin-top: 4rem;
}
#contacto{
    background-image: url(/imagenes/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}
/* Footer*/
#footer-contacto{
    width: 100%;   
    background-color: #0a141d;
}
#footer-contacto .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footer-contacto .grupo-1{
    color:#ffff;
}
#footer-contacto .grupo-1 .red-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#footer-contacto .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color:#fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all ease;
}
#footer-contacto .grupo-1 .red-social a:hover{
    color:aqua;
}
#footer-contacto .grupo-2{
display: flex;
justify-content: end;
font-size: 20px;
}